body{
    background-color: rgb(43, 42, 42);
    color: white;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 20px;
}
ul{
    font-size: 30px;
}
ol{
    font-size: 25px;
}
img{
    height: auto;
    width: 600px;
}